.todoItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px;
}

.todoItems:hover {
  background: #ff9797;
  border-radius: 10px;
}

.btn {
  margin-left: 12px;
}

.btnSize {
  width: 20px;
  height: 20px;
}

.close {
  text-decoration: line-through;
  color: gainsboro;
}

.btns {
  margin-top: 20px;
  width: 100%;
}
